*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/sonarlint/issuestore/
/hs_err_pid5148.log
/hs_err_pid7652.log
/hs_err_pid11412.log
/replay_pid5148.log
/replay_pid7652.log
/replay_pid11412.log
